body {
    background-color: #272822;
    color: #f8f8f2;
    font-family: Consolas, monaco, monospace;
    font-size: 16px;
    line-height: 100%;
}

h1 {
    font-size: 16px;
    margin-left: 0;
}

#james {
    color: #ff6188;
}

.navbar {
    position: fixed;
    bottom: 32px;
    width: 100%;

    background-color: #f8f8f2;
    color: #272822;
    text-align: left;
    line-height: 1.5;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

.bluetext {
    color: #78dce8
}

#hometext {
    justify-content: left;

    padding-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 10%;

    min-width: max-content;
}

.spacer  {
    background-color:#272822;
    width:100%;

    position: fixed;
    bottom: 0;
    min-height: 32px;
}

.navbar .item {
    margin-left: 10px;
    margin-right: 10px;
}