html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0% auto;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  position: sticky;
  bottom: 0;
}

nav {
  gap: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  min-height: 100vh;
}

.p-title {
  display: flex;
  flex-direction: row;
}