@import "tailwindcss";

:root {
    --text-color: #dcd7c9;
    --bg-def:     #2c3639;
    --bg-alt:     #3f4e4f; 
    --fg-def:     #a27b5c;

    --animate-inflate: 0.2s ease-in 1 inflate both;
}

.animate-inflate:hover {
    animation: var(--animate-inflate);
}

@keyframes inflate {
    from {scale: 1}
    to   {scale: 1.1};
}

body {
    font-family: jbmono, Consolas, Courier, monospace;
    color: var(--text-color);
    background-color: var(--bg-def);
}

@font-face {
    font-family: "jbmono";
    src: local("jbmono"), url("./fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "jbmono";
    src: local("jbmono"), url("./fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
